
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
/* unversal selector style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* body style */
body{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}


/* logo bar style */

.logo{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    /* z-index: 1; */
}

.logo img{
    margin-right: 15px;
}

.logo p{
    position: relative;
    display: flex;
    justify-content: end;
    font-family: Cambria;
    font-size: 50px;
    color: rgb(17, 60, 214);
    font-weight: bold;
    padding-right: 20px;
}

/* Only anchor tag */

a{
    text-decoration: none;
    color: #fff;
}


/* navigation bar style */


/* .check{
    display: none;
} */


.nav{
    background-color: black;
    overflow: hidden;
    /* padding-top: 170px;
    padding-bottom: 20px; */
    /* z-index: 99; */
}

.nav_list{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: flex;
    font-size: 20px;
}

.nav_items{
    flex: 1;
}

.nav_items a{
    display: block;
    text-align: center;
    padding: 16px 20px;
    color: white;
}

#login a{
    background-color: rgb(2, 12, 157);
    color: black;
    font-size: 25px;
}

.nav_items a:hover, #login a:hover{
    background-color: white;
    color: black;
    transition: ease-in-out .3s;
    /* text-decoration: underline; */
}

.cnt{
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}

.cnt h1{
    font-size: 50px;
    text-transform: capitalize;
    font-family: cursive;
    margin-bottom: 60px;
}

.container{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    color: #000;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:focus~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100%;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/* footer style */


footer{
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #343434;
}


.footer_box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.footer_content{
    width: 33.3%;
    text-align: center;
}


.footer_content h3{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: wheat;
}


.footer_content p{
    width: 190px;
    margin: auto;
    padding: 10px;
}


.link_list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 10px ;
    position: relative;
}


/* .link_list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #f18930;
    transition-duration: .5s;
}


.link_list li:hover::before{
    width: 120px;
} */


.link_list a:hover{
    color: #f18930;
}


.social-media{
    display: flex;
    justify-content: center;
}
.social-media i{
    font-size: 28px;
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.social-media i:nth-child(1){
    color: #eee;
    background: #1822dd;
    border-radius: 50%;
    border: 2px solid #eee;
}
.social-media i:nth-child(1):hover{
    background: #eee;
    color: #1822dd;
    border: 2px solid #1822dd;
}
.social-media i:nth-child(2){
    color: #eee;
    background: #f00;
    border-radius: 50%;
    border: 2px solid #eee;
}
.social-media i:nth-child(2):hover{
    background: #eee;
    color: #f00;
    border: 2px solid #f00;
}
.social-media i:nth-child(3){
    color: #eee;
    background: #fc03c2;
    border-radius: 50%;
    border: 2px solid #eee;
}
.social-media i:nth-child(3):hover{
    background: #eee;
    color: #fc03c2;
    border: 2px solid #fc03c2;
}

.bottom{
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 40px;
    margin-bottom: -30px;
}

/* other device display style */

@media(max-width: 850px){
    .nav_list{
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        padding: 0;
    }

    .container{
        padding: 50px;
    }

    .content{
        flex-direction: column;
    }

    .content .contactInfo{
        margin-bottom: 40px;
    }

    .content .contactInfo, .contactForm{
        width: 100%;
    }
}

@media (max-width: 658px){
    .nav_list{
        flex-direction: column;
    }

}
